* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f4f7f6; /* 背景灰色 */
}

/*Header 置中*/
.main-header {
    width: 100%;
    background: white;
    padding: 40px 0;
    text-align: center;
}

.header-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto; 
}

/*菜單置中*/
.container {
    width: 100%;
    padding: 20px 0; 
}

.menu-card {
    background: white;
    width: 92%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* 品項 */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto 15px;
    padding: 10px;
    border-bottom: 1px dashed #eee;
}


@keyframes fadeInOut {
    0% { opacity: 0; transform: scale(0.8); }
    20% { opacity: 1; transform: scale(1); }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

/* Google Form */
.form-section {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
}

iframe {
    width: 100%;
    min-height: 800px;
    border: none;
    display: block;
}
